html, body{
  margin: 0;
  overflow: hidden;
}

canvas{
  width: 100%;
  height: 100%;
}

.slidecontainer{
  position: absolute;
}

.slidetext{
  color: white;
  margin: 0;
  text-align: center;
  font-size: 15px;
  font-family: monospace;
}

#meshbtn{
  width: 100px;
  position: absolute;
  top: 92%;
  /* left: calc(50% - 30px); */
  left: 85%
}

#fovslider{
  top: 90%;
  left: 10%;
}

#nearslider{
  top: 90%;
  left: 30%;
}

#farslider{
  top: 90%;
  left: 50%;
}

#wireframe{
  top: 90%;
  left: 70%;
}

#fovNum, #nearNum, #farNum{
  color: white;
  margin: 0;
  text-align: center;
  font-size: 12px;
  font-family: monospace;
}



/* WIREFRAME toggle */
/* The switch - the box around the slider */
.switch {
  margin-left: 20px;
  margin-top: 5px;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 15px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.toggle:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .toggle {
  background-color: #2196F3;
}

input:focus + .toggle {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .toggle:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.toggle.round {
  border-radius: 34px;
}

.toggle.round:before {
  border-radius: 50%;
}
